<header class="header header-3">
  <div class="container">
    <div class="header_inner d-flex align-items-center justify-content-between">
      <div class="logo">
        <a href="/" class="light_logo">
          <img src="/images/logo-header.png" alt="logo" />
        </a>
        <a href="/" class="dark_logo">
          <img src="/images/logo-header.png" alt="logo" />
        </a>
      </div>

      <div class="mainnav d-none d-lg-block">
        <ul class="main_menu">
          <li class="menu-item"><a href="/projects">Projects</a></li>
          <li class="menu-item"><a href="/about">About</a></li>
          <li class="menu-item"><a href="/shop">Shop</a></li>
          <li class="menu-item"><a href="/blog">Blog</a></li>
          <li class="menu-item"><a href="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="header_right_part d-flex align-items-center">
        <button class="aside_open">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </button>
        <!-- <div class="header_search">
            <button type="submit" class="form-control-submit">
              <i class="bi bi-search"></i>
            </button>
          </div>
          <div class="open_search">
            <form
              class="search_form"
              action="https://wpthemebooster.com/demo/themeforest/html/mrittik/light/search.php"
            >
              <input
                type="text"
                name="search"
                class="keyword form-control"
                placeholder="Search..."
              />
              <button type="submit" class="form-control-submit">
                <i class="bi bi-search"></i>
              </button>
            </form>
          </div> -->
        <!-- <button class="ma5menu__toggle d-lg-none d-block" type="button">
            <i class="bi bi-list"></i>
          </button> -->
      </div>
    </div>
  </div>
</header>
<div class="aside_info_wrapper">
  <button class="aside_close"><i class="bi bi-x-lg"></i></button>
  <div class="aside_logo">
    <a href="/" class="light_logo">
      <img src="/images/logo-full.png" alt="logo" />
    </a>
    <a href="/" class="dark_logo">
      <img src="/images/logo-full.png" alt="logo" />
    </a>
  </div>
  <div class="aside_info_inner">
    <p>
      Architects is a full-service design firm providing architecture
      architecture.
    </p>

    <div class="aside_info_inner_box">
      <h5>Contact Info</h5>
      <p>+123 456 789 33</p>
      <p>
        3 Madison Street, NY <br />
        United States of America
      </p>
      <p>logo@gmail.com</p>

      <h5>Office Address</h5>
      <p>
        +Time Square, New York <br />
        USA, 3454
      </p>
    </div>
    <div class="social_sites">
      <ul class="d-flex align-items-center justify-content-center">
        <li>
          <a href="#"><i class="bi bi-facebook"></i></a>
        </li>
        <li>
          <a href="#"><i class="bi bi-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="bi bi-instagram"></i></a>
        </li>
        <li>
          <a href="#"><i class="bi bi-youtube"></i></a>
        </li>
      </ul>
    </div>
  </div>
</div>
