<!DOCTYPE html>
<html lang="zxx">
  <head>
    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
    />
    <meta name="description" content="Mrittik is a Modern Architecture Theme" />
    <meta name="author" content="" />

    <!-- Favicon and touch Icons -->
    <link href="/assets/img/favicon.png" rel="shortcut icon" type="image/png" />
    <link href="/assets/img/apple-touch-icon.html" rel="apple-touch-icon" />
    <link
      href="/assets/img/apple-touch-icon-72x72.html"
      rel="apple-touch-icon"
      sizes="72x72"
    />
    <link
      href="/assets/img/apple-touch-icon-114x114.html"
      rel="apple-touch-icon"
      sizes="114x114"
    />
    <link
      href="/assets/img/apple-touch-icon-144x144.html"
      rel="apple-touch-icon"
      sizes="144x144"
    />

    <!-- Page Title -->
    <title>TAP - Modern Architecture</title>

    <!-- Styles Include -->
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>

  <body class="bg-white">
    <!-- Preloader -->
    <div id="preloader">
      <div class="preloader-inner">
        <div class="spinner"></div>
        <div class="loading-text">
          <span data-preloader-text="T" class="characters">T</span>

          <span data-preloader-text="A" class="characters">A</span>

          <span data-preloader-text="P" class="characters">P</span>
        </div>
      </div>
    </div>

    <!-- Color Mode Switcher -->
    <div id="mode_switcher" class="d-none">
      <span><i class="bi bi-moon-fill"></i></span>
    </div>

    <!-- Cursor Effect -->
    <div class="pointer bnz-pointer" id="bnz-pointer"></div>

    <!-- Header -->
    <%- include('header'); -%>

    <!-- Page Header -->
    <div class="page_header">
        <div class="page_header_inner">
            <div class="container">
                <div class="page_header_content d-flex align-items-center justify-content-between">
                    <h2 class="heading">Seminar By Benjamin Brook</h2>
                    <ul class="breadcrumb d-flex align-items-center">
                        <li><a href="/">Home</a></li>
                        <li><a href="/seminars">Seminars</a></li>
                        <li class="active">Details</li>
                    </ul>
                </div>
            </div>
        </div>        
    </div>

    <main class="wrapper">
        <!-- Our Team -->
        <section class="team team-details">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-7 pe-lg-5">
                        <div class="team-member-img">
                            <img src="/assets/img/team/7.jpg" alt="img">
                        </div>
                    </div>

                    <div class="col-lg-5 col-md-12 ps-lg-0">
                        <div class="team-member-information">
                            <h5 class="name text-white">Benjamin Brook</h5>
                            <h6 class="designation text-uppercase text-olive">Architecture Seminar</h6>
                            <div class="bio">At vero eos et accusamus et iusto odio digni is simos ducimus qui blanditiis praesentium volu ptatum dele niti atque corryi upti quos. dolores et quas molestias. At vero eos et accusamus et iusto.</div>
                            <div class="social-media">
                                <ul>
                                    <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                                    <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                                    <li><a href="#"><i class="bi bi-instagram"></i></a></li>
                                    <li><a href="#"><i class="bi bi-youtube"></i></a></li>
                                    <li><a href="#"><i class="bi bi-pinterest"></i></a></li>
                                </ul>
                            </div>

                            <div class="edu-quali">
                                <h6 class="widget-title">
                                    Education & Qualification
                                    <span class="title-line"></span>
                                </h6>
                                <ul class="point_order">
                                    <li>Graduation In Architecture From <span>YALE University</span></li>
                                    <li>Post Graduation In Architecture from <span>YALE University</span></li>
                                    <!-- <li>Diploma In Landscape Design From <span>JNU</span></li> -->
                                </ul>
                            </div>

                            <div class="edu-quali">
                                <h6 class="widget-title">
                                    Awards
                                    <span class="title-line"></span>
                                </h6>
                                <ul class="point_order">
                                    <li>Best Design Award 2022 Best</li>
                                    <li>Design Award 2021</li>
                                    <!-- <li>Best Design Award 2020</li> -->
                                </ul>
                            </div>
                            <div class="btn_group">
                                <a class="btn white" href="/seminar-form">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="latest-projects">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="project">
                                <h6 class="widget-title text-white mb-3">
                                    Latest Projects
                                    <span class="title-line"></span>
                                </h6>
                                <div class="text text-white">At vero eos et accusamus et iusto odio digni 
                                    is simos ducimus qui blanditiis praesentium 
                                    volu ptatum dele niti atque corryi upti quos. 
                                    dolores et quas molestias. At vero eos et 
                                    accusamus et iusto.
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="project">
                                <a href="project-details.html">
                                    <img src="/assets/img/portfolio/latest/1.jpg" alt="img">
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="project">
                                <a href="project-details.html">
                                    <img src="/assets/img/portfolio/latest/2.jpg" alt="img">
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="project">
                                <a href="project-details.html">
                                    <img src="/assets/img/portfolio/latest/3.jpg" alt="img">
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="project">
                                <a href="project-details.html">
                                    <img src="/assets/img/portfolio/latest/4.jpg" alt="img">
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="project">
                                <a href="project-details.html">
                                    <img src="/assets/img/portfolio/latest/5.jpg" alt="img">
                                </a>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </section>
    </main>

    <!-- Footer-->
    <%- include('footer'); -%>

    <div class="totop">
      <a href="#">UP</a>
    </div>

    <!-- Page Grid Lines -->
    <ul class="grid_lines d-none d-md-flex justify-content-between">
      <li class="grid_line"></li>
      <li class="grid_line"></li>
      <li class="grid_line"></li>
      <li class="grid_line"></li>
      <li class="grid_line"></li>
      <li class="grid_line"></li>
      <li class="grid_line"></li>
    </ul>

    <!-- Core JS -->
    <script src="/assets/js/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>

    <!-- Side Menu -->
    <script src="/plugins/menu/ma5-menu.min.js"></script>

    <!-- Swiper for Slider Type -->
    <script src="/plugins/swiper/swiper-bundle.min.js"></script>

    <!-- Cursor Effect -->
    <script src="/plugins/cursor-effect/cursor-effect.js"></script>

    <!-- Select2 -->
    <script src="/plugins/select2/js/select2.min.js"></script>

    <!-- AOS effect JS -->
    <script src="/plugins/aos/aos.js"></script>

    <!-- Theme Custom JS -->
    <script src="/assets/js/theme.js"></script>

    <!-- Google Map Calling -->
    <script src="/assets/js/map.js"></script>
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyCUiaBC-cJ0wcEtqCUtoXF3I91o9wS42gQ"></script>
  </body>
</html>

